.home-header {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 50vw;

  background-image: url('../../Assets/Img/home-header.svg');
  background-repeat: no-repeat;
  background-size: contain;
}

@media (max-width: 1000px) {
  .home-header {
    height: fit-content;

    background-image: none;
    background-color: whitesmoke;
  }
}