.home-header {
  display: flex;
  flex-direction: column;

  width: 100vw;
  height: 50vw;

  background-image: url('../../Assets/Img/home-header.svg');
  background-repeat: no-repeat;
  background-size: contain;
}
