.mb-3{
   margin-right: 350px;
   margin-left: 350px;
}

.primary{
   margin-left: 350px;
}

.secondary{
    margin-left: 20px;
    color: aliceblue;
}

.subtitle{
   color: #999999;
   text-align: center;
   line-height: 15px;
   font-size: 20px;
}