.dropdown-position {
    width: 100%;
    margin-bottom: 150px;
    margin-top: 50px;
}

.dropdown-menu {
    width: 100%;
    background-color: #d14042;
    
    text-align: center;
    font-size: large;
    font-weight: bolder;
}