.home-publicity {
    display: flex;
    flex-direction: column;
    
    background-image: url('../../Assets/Img/publicity.svg');
    background-repeat: no-repeat;
    background-size: contain;
    
    height: 100vh;
    margin-top: 40px;
}

@media (max-width: 1000px) {
    .home-publicity {
        height: 24vh; /* temporário */
    }
}