.title_about {
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  color: #bc0000;
  margin-bottom: 100px;
}

.paragraph_about {
  text-align: justify;
  margin: 100px;
  margin-top: 5px;
  color: black;
}

.image_about {
  height: 500px;
  width: 500px;
  margin-left: 60px;
}

.list {
  color: black;
  float: right;
  text-align: justify;
  margin-top: 100px;
  margin-right: 120px;
}

.second_paragraph_about {
  text-align: justify;
  margin: 100px;
  margin-top: 5px;
  color: black;
}
