.paragraphs-about {
  margin: 100px;
  text-align: justify;
}

.image-about {
  height: 500px;
  margin-left: 60px;
}

.list-about {
  float: right;
  margin-top: 150px;
  margin-right: 120px;

  text-align: justify;
}

li {
  list-style: circle;
  margin-bottom: 10px;
}

@media (max-width: 1000px) {
  .title {
    margin-top: 20px;
  }

  .paragraphs-about {
    margin: 20px;
    font-size: larger;
  }

  .image-about {
    margin-left: 0;
    height: 60vh;
    width: 100%;
  }

  .list-about {
    margin-top: 0px;
    margin-right: 0px;
    margin: 20px;

    font-size: larger;
  }
}