.footer-background {
  display: flex;
  flex-direction: column;
  background-image: url('../../Assets/Img/footer.svg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 425px;
  justify-content: space-between;
  align-items: center;

  width: 100%;
}

.footer-logo {
  align-self: baseline;
  margin: 10px;
}

.copyright {
  font-weight: bolder;
  font-size: 14px;
}

.copyright-icon {
  margin-right: 2px;
  margin-bottom: 2px;
}

@media (max-width: 1000px) {
  .footer-background {
    background-image: none;
    background-color: whitesmoke;
  }

  .footer-logo {
    align-self: center;
  }
}