* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;

}

body{
    /* background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url("./Assets/Img/background.jpg"); */
    background-size: 1500px;
    font-family: 'Roboto Slab', serif;
    -webkit-font-smoothing: antialiased;
}

button {
    font-family: 'Roboto Slab', serif;
    display: flex;
    align-items: center;
    justify-content:center;
}

a{ 
    text-decoration: none;
}


/*Definição de títulos/ subtitulos/ corpos de texto */
h1{
    color: #1b1b1b;
    font-size: 40px;
}

h2{ color: #1b1b1b;
    font-size:27px
}

h3{ color: #382f2f;
    font-size:20px;
}

p{ 
    color: #382f2f;
    font-size:15px; 
}