@import url('https://fonts.googleapis.com/css?family=Maven+Pro');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: 'Maven Pro';

}

body {
    background-size: 1500px;
    font-family: 'Maven Pro';
    -webkit-font-smoothing: antialiased;
}

button {
    font-family: 'Maven Pro';
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    text-decoration: none;
}


/*Definição de títulos/ subtitulos/ corpos de texto */

.title {
    color: #bc0000;
    text-align: center;
    font-size: 40px;
    font-weight: bolder;
}

.text {
    color: #999999;
    text-align: center;
    line-height: 15px;
    font-size: 20px;
}

/* h1 {
    color: #000000;
    font-size: 40px;
    text-align: center;
    font-weight: bolder;
}

h2 {
    color: #000000;
    font-size: 27px
}

h3 {
    color: #999999;
    text-align: center;
    line-height: 15px;
    font-size: 20px;
}

p {
    color: #382f2f;
    font-size: 15px;
} */